<div class="about-main">
  <h2>ThanksAppとは...</h2>
  <p>
    日常で伝えにくい感謝を投稿するアプリです。<br>
    送り先に他のユーザーを選んでメッセージを送り、感謝の気持ちをみんなで共有することができます。<br>
    他にも、「驚き」「笑い」「感動」など様々な気持ちを発信して周りの人に笑顔を届けましょう！
  </p>
</div>